<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.322223745818-qjsa7m8rh6les40p4ijaehpuftq9dm6m</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Platypi-Regular.ttf</string>
		<string>Amiri-Regular.ttf</string>
		<string>NunitoSans-Regular.ttf</string>
	</array>
</dict>
</plist>
